body {
    box-sizing: border-box;
    margin:0px;
}

/* HEADER */

header {
    height:600px;
    background-image: url(background4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0.8;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-icons {
    display:flex;
    justify-content: flex-end;
    margin: 110px 40px 0 0;
}
 
.link-icons img {
    border: 2px solid white;
    border-radius: 50%;
    width: auto;
    height: 40px;
    padding:10px;
    margin: 5px;
    object-fit: cover;
}

.header-text-box {
    height:300px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:0px;
}

h1 {
    margin: 5px 20px 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:white;
    font-size:40px;
}

h4 {
    margin: 5px 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:white;
    font-size:25px;
}

h6 {
    margin: 20px 20px 5px 20px;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size:15px;
}

.my-picture {
    position: absolute;
    left: 420px;
    top: 500px;
    border-radius:50%;
    height: auto;
    width: 170px;
    border:2px solid white; 
}

/* END OF HEADER */

.container-color{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: #F4F4F4;
}

.container-white {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
}

.text-box-introduction{
    width: 500px;
    height: 270px;
    text-align: left;
    letter-spacing:0;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: black;
    opacity: 1;
    margin: 80px 0 0 0;
}

.text-box-skills{
    width: 500px;
    height: 270px;
    text-align: center;
    letter-spacing:0;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: black;
    opacity: 1;
    margin: 20px 0;
}

h5 {
    width: fit-content;
    padding: 10px;
    background-color:#637169;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: bold;
    margin:10px;
}

a:link {
    color:#637169;
    text-decoration: none;
}
    
a:visited {
    color:#637169;
    text-decoration: none;
}

.project-box {
    width:500px;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column;
}

.weather-app-img {
    width:500px;
    background-image: url(myweatherapp.png);
    object-fit:cover;
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* SHOULD BE ON TOP OF PROJECT IMG */

/*h2 {
    color:white;
    font-weight:bold;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}*/

.article-snippet {
    display: flex;
    flex-direction:column;
    width:500px;
    margin: 20px 0 5px 0;
    font-family:'Roboto', sans-serif;
    font-size:25px;
}

#project-header {
    color:#637169;
    font-weight:bold;
}

.skills-container {
    display:flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    margin:10px 0;
}

.skills-square {
    background-color: #9b6b60;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:black;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    letter-spacing: 0;
}

h3 {
    width: fit-content;
    padding: 10px;
    font-size: 30px;
    color:#637169;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin:25px 0;
}

.thoughts-img {
    width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}

.thoughts-article {
    display: flex;
    flex-wrap: wrap;
    width:500px;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    letter-spacing:0;
}

#date-text {
    color:#637169;
    margin:5px 0;
}

#thoughts-header {
    font-weight:bold;
    margin:5px 0 7px 0;
}

.container-skills{
    display:flex;
    flex-wrap:wrap;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction:row;
    width:375px;
    font-family:'Roboto', sans-serif;
    font-size:25px;
}

.skill-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    height:400px;
}

.skill-box-header {
    color:#637169;
    margin:5px 0;
    font-weight:bold;
}

p {
 margin:5px;
}

.social-container {
    display:flex;
    align-items: center;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:red;
    width:375px;
}

.social-icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    width: 100px;
    height: 100px;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:red;
}

.social-icon img {
    border: 2px solid red;
    border-radius: 50%;
    width: auto;
    height: 45px;
    padding:10px;
    margin: 5px;
    object-fit: cover;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    /*width:100%;*/
    background-color:#637169;
    height:300px;
}

.footer-header {
    color:white;
}

.footer-text {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
}